@{
    ViewBag.Title = "Order Submitted!";
}


<div class="container">
    <div class="jumbotron" style="background-color: #668cff; color: white">
        <h1 style="color: white;">CONGRATULATIONS! Your order has been submitted!</h1>
        <br />
        <p>
            <strong>You will be receiving an email shortly with your order details and receipt!</strong>
        </p>
        <br />
        <p>
           <strong> *Most products will be delivered in 4-5 business days!</strong>
        </p>
    </div>
    <!--<p>This is some text.</p>
    <p>This is another text.</p>-->
</div>