@{
    ViewBag.Title = "Admin";
}

<br />
<br />

<div class="btn-group btn-group-justified">

    <a href="/Items/Create" class="btn btn-success" role="button">Create an Item</a>
      
    <a href="/Items/Index" class="btn btn-warning" role="button">View and/or Edit Items</a>   

</div>

<br />
<br />